.contact-container {
  margin: auto;
}

.contact-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 36px;
  padding: 50px 0 0 0;
  margin: 0;
}

.contact-subtitle {
  color: black;
  text-align: center;
  font-size: 24px;
  padding: 0 50px;
  padding-bottom: 50px;
}

.contact-content {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 0 50px 50px 50px;
}

.contact-form,
.confirmation-message {
  width: 600px;
  height: 550px;
  background-color: #bfe9b2;
  padding: 25px;
  border-radius: 10px;
  border: 4px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;
  font-style: italic;
  color: black;
  font-size: 24px;
}

.contact-form textarea {
  height: 250px;
}

.confirmation-message h3 {
  color: black;
  margin: 25px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.confirmation-message p{
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.icon {
  width: 60px;
  height: 60px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-top-row {
  display: flex;
  gap: 50px;
}

.contact-method {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
}

.hours {
  display: flex;
  gap: 10px;
}

.contactInformation {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.contactInformation h3 {
  color: var(--primary-color);
  font-size: 24px;
  margin: 0;
}

.contactInformation p,
.contactInformation a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0;
}

.contactInformation p:hover,
.contactInformation a:hover {
  text-decoration: underline;
}

.hours h3 {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 0;
}

.hours p {
  color: black;
  font-size: 20px;
  margin: 5px;
}

.hours ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: black;
}

.hours li {
  margin-bottom: 0.3rem;
}

.social-media-contact {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-left: 70px;
}

.social-media-contact h3 {
  color: var(--primary-color);
  font-size: 24px;
  margin: 0;
}

.socialMediaIcons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.socialMediaIcon {
  width: 35px;
  height: 35px;
}

.instagram {
  width: 30px;
  height: 30px;
}

.grassFooter {
  display: block;
  width: 100%;
  margin: 0;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary-color);
  outline-offset: -2px;
  border-radius: 5px;
  border: none;
  padding: 10px 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.submitButton:hover {
  background-color: #165a01;
}

.submitButton:hover p {
  color: var(--background-color);
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .contact-top-row {
    flex-direction: column;
    gap: 20px;
  }

  .contact-form {
    width: 90%;
    margin-bottom: 10px;
    padding: 16px;
  }

  .confirmation-message {
    width: 90%;
    margin: 0 auto 16px auto;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .social-media-contact {
    align-self: flex-start;
    padding-left: 60px;
  }

  .contact-title {
    font-size: 20px;
    padding: 20px 0 0 0;
  }

  .contact-subtitle {
    font-size: 18px;
    margin: 0;
    padding: 20px 20px 40px 20px;
  }

  .contactInformation h3,
  .hours h3,
  .social-media-contact h3,
  .confirmation-message h3 {
    font-size: 18px;
  }

  .contactInformation p,
  .contactInformation a,
  .hours p,
  .hours ul,
  .hours li {
    font-size: 16px;
  }

  .contact-form input,
  .contact-form textarea,
  .confirmation-message p {
    font-size: 16px;
  }

  .confirmation-message p {
    margin: 5px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
  .submitButton {
    height: 40px;
    padding: 10px 110px;
    font-size: 18px;
  }
}
