.workingContainer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "San-Serif";
}

.workingTitle {
  font-size: 36px;
  color: var(--primary-color);
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stepTitleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.step {
  width: 50px;
  height: 50px;
}

.stepTitle {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.stepParagraph {
  font-size: 24px;
  color: black;
  padding-left: 60px;
  margin-top: -10px;
}

.noticesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
  padding: 50px 0;
  align-content: center;
  justify-content: center;
}

.seasonsContainer {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 350px;
  background-color: var(--accent-color);
  border-radius: 25px;
  align-self: center;
  justify-content: center;
  padding: 50px;
}

.seasonsTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.seasonsPic {
  width: 60px;
  height: 60px;
}

.seasonsTitle {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: black;
}

.seasonsParagraph {
  font-size: 24px;
  text-align: center;
  padding: 0 20px;
  color: black;
}

.pricingContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.pricingParagraphs {
  display: flex;
  flex-direction: column;
}

.orderParagraph {
  display: flex;
  flex-direction: column;
}

.pricingTitle {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}

.pricingList {
  font-size: 24px;
  font-weight: 400;
  color: black;
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
  width: 80%;
}

.pricingList p {
  font-size: 20px;
  text-align: left;
  font-style: italic;
}

.deliveryPic {
  max-height: 500px;
  max-width: 100%;
  align-self: center;
}

.savingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 0;
}

.savingTitle {
  font-size: 36px;
  color: var(--primary-color);
  text-align: center;
}

.savingParagraph {
  width: 70%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: black;
}

.freeQuoteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary-color);
  outline-offset: -2px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
}

.freeQuoteButton p {
  color: var(--background-color);
  font-weight: 700;
  font-size: 30px;
  margin: 20px;
  display: flex;
  align-items: center;
}

.freeQuoteButton img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: filter 0.3s ease;
}

.freeQuoteButton:hover {
  background-color: #165a01;
}

.freeQuoteButton:hover p {
  color: var(--background-color);
}

/* .freeQuoteButton:hover img {
  filter: brightness(0) saturate(100%) invert(39%) sepia(95%) saturate(749%)
    hue-rotate(88deg) brightness(95%) contrast(90%);
} */

.grassFooter {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .stepsContainer {
    width: 90%;
  }

  .noticesContainer {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  .pricingContainer {
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
    align-items: center;
  }

  .pricingParagraphs {
    width: 90%;
    align-items: center;
  }

  .orderParagraph {
    align-items: center;
  }

  .deliveryPic {
    order: 1;
    max-width: 90%;
  }

  .seasonsContainer {
    width: 100%;
    height: 300px;
    border-radius: 0px;
    padding: 0;
  }

  .seasonsTitle {
    font-size: 18px;
  }

  .seasonsParagraph {
    font-size: 18px;
  }

  .savingParagraph {
    width: 90%;
    font-size: 18px;
  }

  .freeQuoteButton {
    width: 90%;
    justify-content: center;
  }

  .stepParagraph {
    font-size: 18px;
    padding-left: 0;
  }

  .stepTitleWrapper {
    flex-direction: row;
    justify-content: flex-start;
  }

  .stepTitle {
    font-size: 18px;
  }

  .workingTitle,
  .savingTitle {
    font-size: 20px;
  }

  .pricingTitle {
    font-size: 18px;
    text-align: center;
  }

  .pricingList {
    font-size: 16px;
  }

  .pricingList p {
    font-size: 14px;
  }

  .freeQuoteButton {
    height: 40px;
    padding: 10px 10px;
  }

  .freeQuoteButton p {
    font-size: 18px;
  }
}
