.footer {
    background-color: var(--secondary-accent-color);
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.company-logo-container {
    display: flex;
    gap: 20px;
}

.company-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footerLogos {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
}

.quick-links ul,
.legal ul {
    list-style: none;
    padding: 0;
}

.quick-links li,
.legal li {
    margin: 5px 0;
}

.quick-links li a,
.legal li a{
    text-decoration: none;
    color: inherit;
}

.quick-links li a:hover,
.legal li a:hover{
    text-decoration: underline;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-media-connections,
.social-newsletter {
    display: flex;
    flex-direction: column;
}

.social-icons img {
    width: 25px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: right;
    width: 100%;
}