/* General Header Styles */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--primary-color);
  width: 100%;
  padding: 1rem 0;
  position: relative;
  z-index: 100;
}

.companyContainer {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Source Serif 4", serif;
}

.companyLogo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}


.navBar {
  margin-left: auto;
  padding-right: 20px;
}

.navBar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-links li a {
  text-decoration: none;
  font-family: "Source Serif 4", serif;
  color: inherit;
  font-weight: 700;
}

.nav-links li a:hover {
  text-decoration: underline;
  color: inherit;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  list-style: none;
  padding: 0px 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: max-content;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.dropdown-menu li {
  padding: 8px 20px;
  border-bottom: 2px solid var(--background-color);
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li a {
  color: var(--background-color);
  text-decoration: none;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
}

.dropdown-menu li a:hover {
  text-decoration: underline;
  color: var(--background-color);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.centered-dropdown li {
  display: flex;
  justify-content: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding-right: 20px;
}

.hamburger .bar {
  width: 30px;
  height: 4px;
  margin: 6px 0;
  background-color: var(--primary-color);
  transition: 0.4s;
}

.hamburger .bar.open:nth-child(2) {
  opacity: 0;
}

.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 20;
  overflow: hidden;
}

/* Shared styles */
.mobileMenuContent,
.mobileSubmenuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

/* Animation States */
.mobileMenuContent.open {
  transform: translateX(0%);
}
.mobileMenuContent.closed {
  transform: translateX(-100%);
}
.mobileSubmenuContent.open {
  transform: translateX(0%);
}
.mobileSubmenuContent.closed {
  transform: translateX(100%);
}

/* List styling */
.mobileNavLinks,
.mobileSubNavLinks {
  list-style: none;
  font-family: "Source Serif 4", serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 300px;
}

.mobileNavLinks li,
.mobileSubNavLinks li {
  margin: 1rem 0;
}

.mobileNavLinks li a,
.mobileSubNavLinks li a {
  text-decoration: none;
  color: var(--primary-color);
  display: block;
  width: 100%;
}

.mobileNavLinks li a:hover,
.mobileSubNavLinks li a:hover {
  text-decoration: underline;
}

/* Back button for sub menu */
.backButton {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: var(--primary-color);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 30;
  padding: 0;
}

.mobileSubmenuContent.open .backButton {
  opacity: 100;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: var(--primary-color);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 30;
  padding: 0;
}

@media (max-width: 768px) {
  .navBar {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobileMenuOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
